.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.camera-container {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #000;
}

.prediction-display {
  background-color: #f8f9fa;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
}

/* Estilo para las tarjetas */
.card {
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Estilos para la tabla de productos */
.table {
  vertical-align: middle;
}